@tailwind base;  
@tailwind components; 
@tailwind utilities; 
@font-face { 
  font-family: ubuntu;
  src: url(/libre.ttf);
}     
@font-face {
  font-family: serifo;
  src: url(../../public/p2.ttf);

} 
@font-face {
  font-family: second;
  src: url(/RusticRoadway.otf);

}
@keyframes textColorCycle {
  0% { color: #4B5563; }     /* gris */
  25% { color: #3B82F6; }    /* bleu */
  50% { color: #10B981; }    /* vert */
  75% { color: #F59E0B; }    /* orange */
  100% { color: #4B5563; }   /* retour au gris */
}

.text-animated-color {
  animation: textColorCycle 5s infinite ease-in-out;
}
/* Dans votre fichier CSS global */
.hex-clip {
  clip-path: url(#hexClip);
  object-fit: cover;
  object-position: center;
}
.hexagon-wrapper {
  position: relative;
}

.hexagon-image-container {
  clip-path: url(#hexClip);
  width: 260px;
  height: 260px;
}

.hexagon-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hexagon-clip {
  clip-path: polygon(
    50% 3.85%,  /* ~10/260 */
    92.3% 25%,  /* ~240/260 et 65/260 */
    92.3% 75%,
    50% 96.15%,
    7.7% 75%,
    7.7% 25%
  );
  width: 100%;
  height: 100%;
}
/* @font-face {
  font-family: serifo;
  src: url(/chillen.ttf);

} */
.serifo{
  font-family: serifo;
}
.second{
  font-family: second;
}
:root, html, body {
  background-color: white !important;
  color: black !important;
  color-scheme: light only !important;
    font-family: ubuntu !important;

}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}
/* globals.css */
@media (prefers-color-scheme: dark) {
  :root, html, body {
    background-color: white !important;
    color: black !important;
    filter: invert(0) hue-rotate(0deg) !important;
  }
  img, video, iframe {
    filter: invert(0) hue-rotate(0deg) !important;
  }
}